@charset "utf-8";

.container-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.container-header {
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 1px #aaa;
  overflow: hidden;
  background-color: #f8f8f8;
}

.container-main {
  width: 95%;
  margin: 10px auto;
  overflow: hidden;
  //min-height: calc(100vh - 159px);
  border: solid 0.2em #aaa;
  padding: 0.5em;
  background: #f8f8f8;
  box-sizing:border-box;
}

.container-footer {
  padding: 10px 0;
  border-top: solid 1px #aaa;
  overflow: hidden;
}
