@charset "utf-8";

.post-title {
  text-align: center;
}

.post-content {
  // scrollable for mobile devices
  overflow-x: scroll;
}

.post-content p {
  line-height: 20px;
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-content a, .post-info a {
  border-bottom: 0.1em dashed mediumblue; 
  color: mediumblue;
}

.post-content li:before  {
  content: "•";
  font-size: 1em;
  margin-left: 5px;
  padding-right: 5px;
}

.post-content ul {
  margin-bottom: 5px;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px;
}
